.btn {
  padding: 0 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  min-width: 14rem;
  border: 1px solid var(--c-accent);
  color: var(--c-accent);
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

  @media (max-width: 49em) {
    height: 7rem;
    min-width: 22rem;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--c-accent);
      color: var(--c-white);
    }
  }
}
