.blog {
  // .blog__container

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 12rem;
    row-gap: 6rem;
    @media (max-width: 49em) {
      padding-top: 18rem;
      row-gap: 8rem;
    }
  }

  // .blog__heading

  &__heading {
  }

  // .blog__body

  &__body {
    display: grid;
    grid-template-columns: 1fr 40rem;
    column-gap: 6rem;
    @media (max-width: 49em) {
      display: flex;
      flex-direction: column;
    }
  }

  // .blog__content

  &__content {
  }

  // .blog__list

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    @media (max-width: 49em) {
      display: flex;
      flex-direction: column;
      gap: 6rem;
    }
  }

  // .blog__item

  &__item {
  }

  // .blog__aside

  &__aside {
    @media (max-width: 49em) {
      order: -1;
      .heading {
        display: none;
      }
    }
  }

  &__aside-content {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    @media (min-width: 49.01em) {
      position: sticky;
      top: 10rem;
      right: 0;
      padding-left: 6rem;
      border-left: 1px solid var(--c-accent);
    }
  }

  // .blog__tags

  &__tags {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    @media (max-width: 49em) {
      margin-bottom: 4rem;
      flex-direction: row;
      overflow-x: auto;
      column-gap: 6rem;
    }
  }

  // .blog__tag

  &__tag {
  }
}
